@import "./theme/colors.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.material-symbols-outlined {
    font-variation-settings:
            'FILL' 1,
            'wght' 500,
            'GRAD' 0,
            'opsz' 24
}

html, body {
    background-color: var(--color-accent-0);
}

::-webkit-scrollbar {
    width: 24px;
    height: 24px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    border: 8px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: calc(100vh - 24px);
    background-color: var(--color-accent-200);
    padding-top: 24px;
    position: fixed;
    top: 0;
    left: 0;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    user-select: none;
}

.nav-item {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 100px;
    justify-content: center;
    align-items: center;
    color: var(--color-accent-900);
}

.nav-item-selected {
    background-color: var(--color-accent-400);
    color: #ffffff;
    border-radius: 24px;
    width: 60px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.15s;
}

.nav-item-unselected {
    border-radius: 24px;
    width: 60px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.15s;
}

.nav-item:hover > .nav-item-unselected {
    background-color: var(--color-accent-300);
    color: #ffffff;
    transition: 0.15s;
}

.nav-item-title {
    margin-top: 4px;
    margin-bottom: 16px;
    padding: 0;
}

.content {
    position: fixed;
    top: 0;
    left: 100px;
    width: calc(100vw - 100px);
    height: 100%;
    transition: 0.2s;
}

.chat-window {
    display: flex;
    flex-direction: row;
    transition: 0.2s;
}

.prompt-window {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    transition: 0.2s;
}

.chat-list {
    width: 400px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 4px;
    user-select: none;
    transition: 0.2s;
}

.prompt-list {
    width: 400px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 4px;
    user-select: none;
    transition: 0.2s;
}

.chat-content {
    background-color: var(--color-accent-50);
    width: calc(100vw - 500px);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    transition: 0.2s;
}

.prompt-content {
    background-color: var(--color-accent-50);
    width: calc(100vw - 500px);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    transition: 0.2s;
}

.chat-item {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    border-radius: 12px;
    padding: 8px;
    width: 328px;
    justify-content: space-between;
    margin-left: 36px;
    margin-right: 16px;
    margin-top: 8px;
}

.chat-item-1 {
    background-color: rgba(135, 114, 73, 0.1);
    transition: 0.15s;
}

.chat-item-2 {
    background-color: rgba(115, 150, 101, 0.1);
    transition: 0.15s;
}

.chat-item-3 {
    background-color: rgba(150, 80, 80, 0.1);
    transition: 0.15s;
}

.chat-item-4 {
    background-color: rgba(95, 124, 167, 0.1);
    transition: 0.15s;
}

.chat-item-5 {
    background-color: rgba(121, 88, 150, 0.1);
    transition: 0.15s;
}

.chat-item-1:hover {
    background-color: rgba(135, 114, 73, 0.3);
    transition: 0.15s;
}

.chat-item-2:hover {
    background-color: rgba(115, 150, 101, 0.3);
    transition: 0.15s;
}

.chat-item-3:hover {
    background-color: rgba(150, 80, 80, 0.3);
    transition: 0.15s;
}

.chat-item-4:hover {
    background-color: rgba(95, 124, 167, 0.3);
    transition: 0.15s;
}

.chat-item-5:hover {
    background-color: rgba(121, 88, 150, 0.3);
    transition: 0.15s;
}

.chat-item-active-1 {
    background-color: rgba(135, 114, 73, 0.5);
    transition: 0.15s;
}

.chat-item-active-2 {
    background-color: rgba(115, 150, 101, 0.5);
    transition: 0.15s;
}

.chat-item-active-3 {
    background-color: rgba(150, 80, 80, 0.5);
    transition: 0.15s;
}

.chat-item-active-4 {
    background-color: rgba(95, 124, 167, 0.5);
    transition: 0.15s;
}

.chat-item-active-5 {
    background-color: rgba(121, 88, 150, 0.5);
    transition: 0.15s;
}

.chat-icon-frame {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.chat-icon-frame-1 {
    background-color: rgba(135, 114, 73, 0.2);
}

.chat-icon-frame-2 {
    background-color: rgba(115, 150, 101, 0.2);
}

.chat-icon-frame-3 {
    background-color: rgba(150, 80, 80, 0.2);
}

.chat-icon-frame-4 {
    background-color: rgba(95, 124, 167, 0.2);
}

.chat-icon-frame-5 {
    background-color: rgba(121, 88, 150, 0.2);
}

.chat-icon {
    width: 24px;
    height: 24px;
}

.chat-item-info {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 4;

}

.chat-item-title {
    padding: 0;
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 230px;
}

.chat-item-model {
    padding: 0;
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
}

.chat-item-type {
    padding: 0;
    margin: 0;
    color: rgba(255, 255, 255, 0.1);
    font-weight: 700;
    font-size: 32px;
    position: absolute;
    right: calc(65vw + 24px);
}

.page-title {
    color: var(--color-accent-900);
    width: 100%;
    text-align: center;
}

.write-bar {
    width: calc(100% - 24px);
    background-color: var(--color-accent-100);
    margin-bottom: 16px;
    border-radius: 16px;
    bottom: 0;
    display: flex;
    flex-direction: row;
    padding: 12px;
}

.chat-textarea {
    width: calc(100% - 178px);
    max-width: calc(100% - 178px);
    min-width: calc(100% - 178px);
    height: 32px;
    border-radius: 12px;
    padding: 12px;
    margin-right: 12px;
    max-height: 32px;
    min-height: 32px;
    outline: none;
    border: none;
    background-color: var(--color-accent-200);
    color: var(--color-accent-900);
}

.message {
    padding: 16px;
}

.chat-send {
    width: 48px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.message-author {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 22px;
    user-select: none;
}

.message-author-2 {
    color: var(--color-accent-900);
    user-select: none;
}

.message-content {
    margin-top: 8px;
    margin-bottom: 24px;
    margin-left: 40px;
    color: rgba(255, 255, 255, 0.7);
    white-space: pre-wrap;
    font-size: 20px;
}

.message-icon {
    margin-right: 12px;
    width: 28px;
    height: 28px;
    font-size: 28px;
    color: var(--color-accent-900);
    user-select: none;
}

.chat-title {
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    font-size: 24px;
    padding: 0;
    margin: 0;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
}

.chat-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-area {
    width: 80%;
    height: 100vh;
}

.chat-history {
    height: calc(100vh - 100px);
    overflow-x: hidden;
    overflow-y: auto;
}

.fw {
    position: fixed;
    bottom: 24px;
    width: 388px;
    left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    z-index: 50;
}

.fab {
    height: 56px;
    padding: 0;
    margin: 0;
    z-index: 52;
    user-select: none;
}

.priority {
    z-index: 10001;
}

.dialog-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.dialog-paper {
    width: 320px;
    background-color: var(--color-accent-100);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    max-height: calc(100vh - 84px);
    overflow-y: auto;
    overflow-x: hidden;
}

.dialog-actions {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
    margin-top: 24px;
    user-select: none;
}

.dialog-title {
    color: var(--color-accent-900);
    font-size: 24px;
    margin-bottom: 24px;
    margin-top: 0;
    padding: 0;
    text-align: center;
}

.action {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    opacity: 0.5;
    user-select: none;
}

.action:hover {
    color: #ffffff;
    opacity: 1;
}

.action-dangerous {
    color: rgba(255, 255, 255, 0.5);
    opacity: 0.5;
    font-size: 14px;
}

.action-dangerous:hover {
    color: #db4437;
    opacity: 1;
}

.chat-actions {
    height: 42px;
    user-select: none;
}

.dialog-content {
    width: 100%;
    text-align: start;
    color: rgba(255, 255, 255, 0.8);
}

.warning {
    background-color: rgba(255, 0, 0, 0.2);
    color: #db4437;
    padding: 16px;
    border-radius: 16px;
}

.hint {
    background-color: rgba(216, 229, 198, 0.2);
    color: #c8e3a4;
    padding: 16px;
    border-radius: 16px;
    white-space: pre-wrap;
    transition: 0.2s;
}

.title {
    color: #ffffff;
}

.text {
    color: rgba(255, 255, 255, 0.8);
}

.comment {
    color: rgba(255, 255, 255, 0.5);
}

.chat-image {
    width: 300px;
    height: 300px;
    border-radius: 16px;
    margin-top: 16px;
    margin-left: 40px;
    background-color: var(--color-accent-100);
    border: none;
}

a {
    text-decoration: none;
    color: var(--color-accent-800);
    transition: color 0.2s;
}

a:hover {
    color: #ffffff;
    transition: color 0.2s;
}

.code-block {
    border-radius: 16px;
    background-color: var(--color-accent-100);
    overflow-x: auto;
    padding: 16px;
    width: calc(100% - 32px);
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.unknown-code-block {
    background-color: var(--color-accent-200);
    border-radius: 6px;
    color: #ffffff;
    font-weight: 700;
    padding: 2px 4px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 16px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

th {
    background-color: var(--color-accent-200);
    color: rgba(255, 255, 255, 0.8);
    font-weight: 700;
    padding: 8px;
    text-align: left;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

td {
    background-color: var(--color-accent-100);
    color: rgba(255, 255, 255, 0.8);
    padding: 8px;
    text-align: left;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.chat-ab-actions-container {
    position: absolute;
    left: 424px;
    top: 20px;
    z-index: 70;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: calc(100vw - 524px);
    user-select: none;
}

.chat-ab-actions {
    border-radius: 48px;
    padding: 12px;
    background-color: var(--color-accent-200);
    display: flex;
    flex-direction: row;
}

.tile-bg-active {
    background-color: var(--color-accent-900);
    color: var(--color-accent-0);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 12px;
    border-radius: 8px;
    transition: .15s;
    user-select: none;
    align-items: stretch;
    margin: 8px;
}

.tile-bg {
    background-color: var(--color-accent-200);
    color: var(--color-accent-900);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 12px;
    border-radius: 8px;
    transition: .15s;
    user-select: none;
    align-items: stretch;
    margin: 8px;
}

.tile-icon-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
}

.tile-content-frame {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    width: 150px;
}

.tile-title {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
}

.tile-subtitle {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    opacity: 0.7;
}

.tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    width: 476px;
    padding: 16px;
}

.dialog-paper-settings {
    background-color: var(--color-accent-100);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialog-title-settings {
    color: var(--color-accent-900);
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 24px;
    padding: 0;
    user-select: none;
}

.lines {
    user-select: none;
    color: rgba(127, 127, 127, 0.8);
    text-align: right;
    font-weight: 300;
}

.lines-delim {
    min-height: 100%;
    width: 0;
    border-right: 1px solid rgba(127, 127, 127, 0.3);
    margin-left: 8px;
    margin-right: 8px;
}

.credits {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    color: var(--color-accent-800);
}

.selector-item-active {
    background-color: var(--color-accent-900);
    cursor: pointer;
    width: calc(100% - 32px);
    height: 24px;
    border-radius: 24px;
    padding: 16px;
    margin-left: 16px;
    margin-right: 16px;
    transition: 0.15s;
    color: var(--color-accent-0);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selector-item {
    background-color: transparent;
    cursor: pointer;
    height: 24px;
    width: calc(100% - 32px);
    padding: 16px;
    margin-left: 16px;
    margin-right: 16px;
    transition: 0.15s;
    border-radius: 24px;
    color: var(--color-accent-900);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selector-item:hover {
    background-color: var(--color-accent-200);
    transition: 0.15s;
}

.placeholder-bg {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.placeholder-icon {
    color: var(--color-accent-900);
    font-size: 120px;
}

.placeholder-text {
    color: var(--color-accent-900);
    font-size: 24px;
    margin-top: 16px;
}

.visually-hidden-input {
    position: absolute;
    width: 64px;
    height: 64px;
    opacity: 0;
    outline: 0;
}

.selected-image-frame {
    position: fixed;
    bottom: 116px;
    background-color: var(--color-accent-200);
    padding: 12px;
    max-width: 100px;
    max-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}

.discard-image {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--color-accent-900);
    color: var(--color-accent-0);
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    cursor: pointer;
}

.selected-image {
    border-radius: 8px;
}

.tips {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 8px;
    transition: 0.2s;
}

.search-box {
    width: 330px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: var(--color-accent-200);
    margin-left: 20px;
    height: 36px;
    border-radius: 36px;
}

.search-input {
    width: 100%;
    height: 100%;
    background-color: var(--color-accent-200);
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 36px;
    font-size: 16px;
    color: var(--color-accent-900);
}

.search-icon {
    color: var(--color-accent-900);
    font-size: 24px;
    margin-right: 8px;
}